html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Inter", sans-serif;
}

nav {
  /* background-color: blanchedalmond; */
  display: flex;
  justify-content: space-between;
  width: 85vw;
  margin: auto;
  align-items: center;
  padding: 2rem 3rem;
}

nav ul {
  display: flex;
  justify-content: center;

  font-weight: 700;
}

nav ul li {
  margin: 0 10px;
}
a {
  text-decoration: none;
  color: black;
}

#check {
  display: none;
}

.checkbtn {
  font-size: 1.5rem;
  line-height: 2.3;
  margin-right: 1rem;
  cursor: pointer;
  display: none;
}

a:hover,
a.active {
  color: lightgray;
}

.selected {
  opacity: 0.3;
}

.menu ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
}

.menu li {
  padding: 15px;
  font-size: 1rem;
  font-weight: 800;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  margin: auto;

  width: 85vw;
  grid-template-areas: "sidebar  main-content main-content";
}

.sidebar {
  grid-area: sidebar;
  padding: 3rem 3rem;

  border-right: 2px solid black;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.main-content {
  grid-area: main-content;
  padding: 3rem 3rem;
}

.experience-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.experience-container .experience:nth-child(2n) {
  align-self: flex-end;
}

.experience {
  max-width: 40%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
}

h1 {
  font-size: 2rem;
  font-weight: 800;
}

h2 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 3rem;
}

.my-name {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.my-name > img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(144, 144, 144, 0.1);
}

.experience > p {
  font-size: 0.9rem;
  font-weight: 300;
}

.experience > h3 {
  font-size: 0.9rem;
  font-weight: 800;
}

.experience > h4 {
  font-size: 0.9rem;
  font-weight: 600;
}

.experience > .description {
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.2;
}

.sidebar > p {
  font-size: 0.9rem;
  font-weight: 200;
  line-height: 1.3;
}

.sidebar > h6 {
  font-size: 0.9rem;
  font-weight: 800;
  line-height: 1.5;
}

.additional-info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.additional-info-container h6 {
  font-size: 0.8rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.info-list {
  font-size: 0.8rem;
  line-height: 1.5;
}

.education {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 3rem;
}

.education > h2 {
  margin-bottom: 1rem;
}

.education-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

.education-info > p {
  font-size: 0.9rem;
  font-weight: 300;
}

.education-info > h3 {
  font-size: 0.9rem;
  font-weight: 800;
}

.education-info > h4 {
  font-size: 0.9rem;
  font-weight: 600;
}

.links {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  text-decoration: underline;
}

.mobile {
  display: none;
}

@media (max-width: 1000px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }

  .experience-container {
    display: block;
  }

  .experience {
    max-width: 100%;
    margin: 3rem auto;
  }
  nav {
    justify-content: space-between;
    padding: 2rem 2rem;
  }

  .my-name > img {
    display: none;
  }

  .checkbtn {
    display: block;
    right: 0;
  }
  nav ul {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: white;
    top: 56px;
    left: -100%;
    transition: all 0.5s;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  nav ul li {
    margin: 30px 10px;
    display: block;
  }

  nav ul li a {
    color: black;
  }

  #check:checked ~ ul {
    left: 0;
  }

  .sidebar {
    border-right: none;
    order: 2;
    padding: 0 0;
    margin: 5rem auto;
  }

  .main-content {
    order: 1;
    padding: 0 0;
  }

  .mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
  }

  .mobile > img {
    width: 40%;
    height: 40%;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(144, 144, 144, 0.1);
  }

  .mobile > p {
    font-size: 1.1rem;
    font-weight: 200;
    line-height: 1.5;
    text-align: center;
  }

  .main-content > h2 {
    margin: 5rem auto;
    text-align: center;
  }

  .no-mobile {
    display: none;
  }

  .education {
    margin: 5rem auto;
    padding: 0 0;
  }
}

.wrapper {
  max-width: 1200px;
}

.wrapper .carousel {
  white-space: nowrap;
  margin: 3rem auto;
}

.carousel img {
  height: 20rem;
  width: calc(100% / 3);
  object-fit: cover;
}
